.accordion-menu {
  color: #ccc;
}

.accordion-item {
  height: fit-content;
  overflow: hidden;
}

.accordion-item--header {
  color: #ccc;
}

.accordion-item--body {
  height: 0px;
  transition: height 0.25s;
  overflow: hidden;
}

.accordion-item--body.open {
  height: fit-content;
}
