.send-message-btn button {
  height: fit-content;
  width: fit-content;
  // margin-top: 1.5rem;
  margin-left: .7rem;
  border-radius: .5rem;
  background: var(--background-color);
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--text-color);
  }
}

.transparent-button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  filter:contrast(0);
  &:hover {
    cursor: pointer;
  }
}

.add-chan {
    max-height: 2rem;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

.rounded-container {
  .btn-rounded {
    // position: absolute;
    border-radius: 3rem;
    background-color: #2980b9;   //#156df1;      
    color: #dadada;
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 20rem;
    height: 3rem;
    margin-bottom: 0.5rem;
    border: none;
    filter: drop-shadow(2px 4px 6px black);
    margin: 0.5rem 0;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.5s ease;

    &:hover {
      cursor: pointer;
      background-color: #156df1;// #070991;
      color: #fff;
      transform: scale(1.1);   
    }

    &:active{
      cursor: pointer;
      background-color: #000146;
      color: #fff;
      transform: scale(1.0);
    }
  }
  
}
