.send-message-btn button {
  height: fit-content;
  width: fit-content;
  margin-top: 1.5rem;
  margin-left: .7rem;
  border-radius: .5rem;
  background: var(--background-color);
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--text-color);
  }
}
