.new-message {
  height: 100%;
  justify-content: space-between;
  padding: 1rem 0;

  .header{
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 1rem;
    .recipient {
      margin: 0;
      height: 100%;
      width: 100%;
      h3 {
        margin: 0;
      }
      }
    .recipient-name {
      margin: 0;
     }
    button {
      width: 2rem;
      height: 2rem;
      font-size: 1rem;
     }

  }
  

  .conversation {
    font-size: 1.2rem;
    height: 100%;
    width: 100%;;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 1rem;
    overflow-y: scroll;
    &::-webkit-scrollbar { width: 0 !important }

    .conversation-text {
      background-color: var(--background-color);     
      letter-spacing: 1px;
      margin: .8rem 0;
      border-radius: 2rem;
      padding: .1rem 1.5rem;
      width: fit-content;
    }
    .sender-name { 
      font-weight: 700;
      font-size: .8rem;
      padding: .2rem 0;
    }
    .conversation-body {
      padding: .2rem 0;
    }
  } ;

  .message-form {
    height: 5rem;
    align-items: center;
  }
}
