.home {
  height: 100%;

  .home-body {
    height: 100%;
    margin-top: 2rem;
    justify-content: space-between;

    .side-navigation {
      flex-basis: 15%;
    }

    .home-display {
      flex-basis: 80%;
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
