.side-panel {
  line-height: 2rem;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  background-color: var(--background-color);
  height: 90%;
  max-height: 90vh;
  border-radius: 2rem;
  padding:  1rem 0;
  cursor: pointer;
  justify-content: space-between;
  margin-left: 1rem;
  overflow-y: scroll;
  &::-webkit-scrollbar { width: 0 !important }
  color: #ccc !important;
  .side-menu {
    width: 100%;
  }
  li:hover {
    // background-color: var(--button-hover);
  }
  li:active {
    // background-color: var(--button-hover);
    // color: red;
  }

  .side-menu,
  .channels,
  .direct-messages {
    border-top: 1px solid var(--text-color);

    li:hover {
      // background-color: var(--button-hover);
    }
    li:active {
      // background-color: var(--button-hover);
      // color: red;
    }
  }
}

.side-panel-items {
  // border-radius: 2rem;
  padding:0.3rem 2rem;

  &:hover {
    background-color: var(--button-hover);
    color: #fff !important;
  }
}
